@model List<UserModel>
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                User Management List
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i>User List
                    </div>
                    <div class="actions">
                        <button class="btn default yellow-stripe" onclick="getModal(this)" data-href="@Url.Action("Adduser", "Account")">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-480">
                               New User
                            </span>
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-hover" id="datatable">
                        <thead>
                            <tr>
                                <th>
                                    <input type="text" class="form-control" id="srcEmail">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="srcAdSoyad">
                                </th>
                                <th>
                                    <button class="btn btn-sm green" id="search">Ara</button>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    EMail
                                </th>
                                <th>
                                    Name Surname
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                           
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.EMAIL
                                    </td>
                                    <td>
                                        @item.FULLNAME
                                    </td>
                                    <td>
                                        <button class="btn btn-sm blue wait" onclick="getModal(this)" data-href="@Url.Action("Edituser", "Account", new { id = item.ID })">Edit</button>
                                        <button class="btn btn-sm red wait" onclick="confirmAjax(this)" data-href="@Url.Action("Deleteuser", "Account", new { id = item.ID })">Delete</button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->

    <div class="modal fade" id="modal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    @section scripts {
               <script src="~/assets/scripts/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/data-tables/DT_bootstrap.js"></script>
        <script src="/assets/scripts/core/datatable.js"></script>

        <script>
            function getModal(item) {
                $.ajax({
                    url: $(item).attr('data-href'),
                    type: "get",
                    success: function (result) {
                        $(".modal-content").replaceWith(result);
                        $("#modal").modal('show');


                        $("#modalform").submit(function (e) {
                            e.preventDefault();
                            var form1 = $('#modalform');

                            $.ajax({
                                url: form1.attr("action"),
                                type: form1.attr("method"),
                                data: $(form1).serialize(),
                                success: function (result) {

                                    if (result.IsSuccess) {
                                        bootbox.alert(result.Message);
                                        window.location = "/Account/Userlist";
                                    } else {
                                        bootbox.alert(result.Message);
                                    }
                                },
                                error: function (result) {
                                    bootbox.alert(result.message);
                                },

                                beforeSend: function () {
                                    $('#modal .wait').button('loading');
                                },
                                complete: function () {
                                    $('#modal .wait').button('reset');
                                }
                            });


                            return false;
                        });

                    },
                    error: function () { bootbox.alert('An error occured while request is sending'); },
                    beforeSend: function () {
                        if ($(item).hasClass("wait"))
                            $(item).button('loading');
                    },
                    complete: function () {
                        if ($(item).hasClass("wait"))
                            $(item).button('reset');
                    }
                });
            }

            function confirmAjax(item) {
                bootbox.confirm("Are you sure to delete user?", function (result) {
                    if (result) {
                        $.ajax({
                            url: $(item).attr('data-href'),
                            type: "get",
                            success: function (result) {
                                if (result.IsSuccess) {
                                    window.location = "/Account/Userlist";
                                } else {
                                    bootbox.alert(result.Message);
                                }
                            },
                            error: function () { bootbox.alert('An error occured while request is sending'); },
                            beforeSend: function () {
                                if ($(item).hasClass("wait"))
                                    $(item).button('loading');
                            },
                            complete: function () {
                                if ($(item).hasClass("wait"))
                                    $(item).button('reset');
                            }
                        });
                    }
                });
            }

            $.fn.dataTable.ext.search.push(
              function (settings, data, dataIndex) {
                  var srcemail = $('#srcEmail').val();
                  var srcad = $('#srcAdSoyad').val();
                 
                  var email = data[1] || "";
                  var ad = data[2] || "";

                  if (email.indexOf(srcemail) > -1 && ad.indexOf(srcad) > -1) {
                      return true;
                  }
                  return false;
              });
        </script>

    }

    @section innerscript {

               var table;
               table = $('#datatable').DataTable();

               $("#search").click(function () {
               table.draw();
               });

        jQuery('#datatable_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
        jQuery('#datatable_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
        jQuery('#datatable_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
               
         
     

    }



