@{
    var user = Newtonsoft.Json.JsonConvert.DeserializeObject<LoginUserModel>(User.Identity.Name);
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN LOGO -->
        @*<a class="logo" href="/">
                <img src="~/assets/img/eclogo2.png" alt="logo" class="img-responsive" />
            </a>*@
        <!-- END LOGO -->
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler hidden-phone">
                </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start ">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span class="title">
                        Projects
                    </span>
                </a>
            </li>
            @if (user.ID == 0)
            {
                <li>
                    <a href="@Url.Action("Userlist", "Account")">
                        <i class="fa fa-user"></i>
                        <span class="title">
                            Users
                        </span>
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("Group", "Account")">
                        <i class="fa fa-users"></i>
                        <span class="title">
                            User Groups
                        </span>
                    </a>
                </li>*@
            }
            @*@if (user.GroupID == 1)
                {
                <li>
                    <a href="@Url.Action("Index", "Invoice")">
                        <i class="fa fa-location-arrow"></i>
                        <span class="title">
                            To Send For Approval
                        </span>
                    </a>
                </li>
                }

                <li>
                    <a href="@Url.Action("Waiting", "Invoice")">
                        <i class="fa fa-clock-o"></i>
                        <span class="title">
                            Waiting For Approval
                        </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Approved", "Invoice")">
                        <i class="fa fa-check-square"></i>
                        <span class="title">
                            Completed
                        </span>
                    </a>
                </li>
                @if (user.GroupID == 1)
                {
                <li>
                    <a href="@Url.Action("Whitelisted", "Invoice")">
                        <i class="fa fa-minus-square"></i>
                        <span class="title">
                            Ignored
                        </span>
                    </a>
                </li>
                }*@
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>

</div>
<!-- END SIDEBAR -->
